main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: sans-serif;
    gap: 10px;
    color: #000038;
}

#count{
    grid-column: span 3;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}

#number{
    text-align: center;
    grid-column: span 3;
    font-size: 60px;
    font-weight: 900;
}

#container button {
    font-size: 40px;
    border: 2px solid #000038;
    border-radius: 10px;
    background-color: #fff3;
    color: #000038;
    transition: background .3s;
}

#container button:hover{
    background-color: #000038;
    color: rgba(255, 255, 255, 0.854);
}

.green{
    animation: .3s greenColor forwards;
}
.black{
    animation: .3s blackColor forwards;
}
.red{
    animation: .3s redColor forwards;
}

@keyframes greenColor {
    to{
        color: #0c0;
    }
}
@keyframes blackColor {
    to{
        color: #000038;
    }
}
@keyframes redColor {
    to{
        color: #c00;
    }
}